body {
    background-image: url(backdrop.jpg);
    background-size: cover;
    background-color: black;
    color: white;
}

header {
    color: white;
    height: 100px;
}

h1 {
    float: left;
    margin-left: 100px;
    line-height: 90px;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

h2 {
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-align: center;
    margin-top: 15px;
    
}

nav {
    display: block;
    float: right;
    margin-right: 20px;
    line-height: 90px;
}

a {
    margin: 0px 25px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a:link {
    color: gray;
}

a:visited {
    color: gray;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    color: white;
}

#profile {
    display: block;
    width: 35%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    border-style: inset;
    border-width: 1px;
    border-color: black;
}

#vertical-links {
    display: inline-block;
    width: 50px;
}

i {
    color: gray;
    font-size: 30px;
    margin-top: 15px;
}

i:hover {
    color: white;
}

#about {
    width: 800px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    display: block;
    line-height: 25px;
}

#contact {
    width: 800px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    display: block;
}

input {
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    margin-top: 5px;
}

textarea {
    background-color: rgb(66, 63, 63);
    width: 100%;
    margin-top: 5px;
    border: none;
}
.submit {
    width: 100px;
    color: white;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 10px;
    float: right;
    letter-spacing: 3px;
    font-size: 18px;
}

footer {
    width: 100%;
    height: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    color: gray;
}